<div
  class="relative min-h-screen flex items-center justify-center bg-[#181A1C] p-8 overflow-hidden"
>
  <!-- Animated Blobs Background -->
  <div
    class="pointer-events-none absolute -top-40 -left-40 w-[500px] h-[500px] bg-[#F62E8E]/20 rounded-full blur-3xl animate-blob"
  ></div>
  <div
    class="pointer-events-none absolute -bottom-40 -right-40 w-[500px] h-[500px] bg-[#AC1AF0]/20 rounded-full blur-3xl animate-blob animation-delay-2000"
  ></div>
  <div
    class="pointer-events-none absolute top-1/2 left-1/3 w-[400px] h-[400px] bg-[#0F2854]/40 rounded-full blur-[160px] animate-blob animation-delay-4000"
  ></div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 w-full max-w-6xl relative z-10 items-start">
    <!-- Left Section -->
    <div class="text-white flex flex-col justify-center scale-90 lg:scale-90 origin-left -mt-16">
      <div class="flex items-center gap-4 mb-6">
        <div class="mb-8">
          <img src="logo.png" alt="DevConnect Logo" class="w-55 m-auto mb-0 animate-float" />

          <h1
            class="text-5xl font-bold bg-gradient-to-r from-[#F62E8E] to-[#AC1AF0] bg-clip-text text-transparent"
          >
            DevConnect
          </h1>
        </div>
      </div>

      <p class="text-gray-400 text-lg mb-10 max-w-lg leading-relaxed">
        A place where developers share knowledge, build connections, and grow together.
      </p>

      <div class="bg-[#323436]/80 backdrop-blur p-8 rounded-2xl border border-[#727477]">
        <p class="text-sm text-[#F62E8E] font-semibold mb-2">ABOUT THE COMMUNITY</p>

        <p class="text-gray-400 mb-6 text-sm">
          A social hub for developers and tech enthusiasts to share knowledge, collaborate, and grow
          together.
        </p>

        <!-- Stats -->
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4 text-sm">
          <div class="bg-[#181A1C]/80 p-4 rounded-lg border border-[#727477]">
            <p class="text-pink-400 font-bold">10K+</p>
            <p class="text-gray-400">Users</p>
          </div>

          <div class="bg-[#181A1C]/80 p-4 rounded-lg border border-[#727477]">
            <p class="text-pink-400 font-bold">5K+</p>
            <p class="text-gray-400">Posts</p>
          </div>

          <div class="bg-[#181A1C]/80 p-4 rounded-lg border border-[#727477]">
            <p class="text-pink-400 font-bold">120+</p>
            <p class="text-gray-400">Communities</p>
          </div>

          <div class="bg-[#181A1C]/80 p-4 rounded-lg border border-[#727477]">
            <p class="text-pink-400 font-bold">2K+</p>
            <p class="text-gray-400">Daily Interactions</p>
          </div>

          <div class="bg-[#181A1C]/80 p-4 rounded-lg border border-[#727477]">
            <p class="text-pink-400 font-bold">50+</p>
            <p class="text-gray-400">Topics</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Section -->

    <div
      class="bg-[#323436]/80 backdrop-blur p-10 rounded-2xl w-full max-w-md mx-auto border border-[#727477]"
    >
      <div class="flex bg-[#181A1C] p-1 rounded-xl w-full max-w-md mb-6">
        <button
          routerLink="/login"
          class="cursor-pointer flex-1 text-center py-2 rounded-lg text-gray-400 hover:text-white transition"
        >
          Login
        </button>

        <button
          routerLink="/register"
          class="cursor-pointer flex-1 text-center py-2 rounded-lg bg-[#323436] text-white"
        >
          Create Account
        </button>
      </div>

      <h2 class="text-white text-2xl font-semibold mb-6">Create a new account</h2>

      <form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="space-y-6">
        <!-- --------------Full Name------------- -->
        <div class="relative">
          <input
            [class]="{
              'border-green-700': registerForm.get('name')?.valid,
              'border-red-700':
                registerForm.get('name')?.invalid && registerForm.get('name')?.touched,
            }"
            formControlName="name"
            type="text"
            id="fullname"
            placeholder=" "
            class="peer block w-full px-2.5 pb-2.5 pt-4 text-sm text-white bg-transparent rounded-lg border border-[#727477] appearance-none focus:outline-none focus:ring-0 focus:border-[#F62E8E]"
          />
          <label
            for="fullname"
            class="absolute text-sm text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-[#2D2F31] px-2 peer-focus:px-2 peer-focus:text-[#F62E8E] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-2"
          >
            Full name
          </label>
        </div>

        <!-- alert -->
        @if (registerForm.get('name')?.invalid && registerForm.get('name')?.touched) {
          <div
            class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
            role="alert"
          >
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
                @if (registerForm.get('name')?.hasError('required')) {
                  <li>Full Name is required.</li>
                } @else if (registerForm.get('name')?.hasError('minlength')) {
                  <li>Name must be at least 3 characters</li>
                }
              </ul>
            </div>
          </div>
        }

        <!------------------- Username ------------------>
        <div class="relative">
          <input
            [class]="{
              'border-green-700': registerForm.get('username')?.valid,
              'border-red-700':
                registerForm.get('username')?.invalid && registerForm.get('username')?.touched,
            }"
            formControlName="username"
            type="text"
            id="username"
            placeholder=" "
            class="peer block w-full px-2.5 pb-2.5 pt-4 text-sm text-white bg-transparent rounded-lg border border-[#727477] appearance-none focus:outline-none focus:ring-0 focus:border-[#F62E8E]"
          />
          <label
            for="username"
            class="absolute text-sm text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-[#2D2F31] px-2 peer-focus:text-[#F62E8E] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-2"
          >
            Username
          </label>
        </div>

        <!----------------- Email -------------->
        <div class="relative">
          <input
            [class]="{
              'border-green-700': registerForm.get('email')?.valid,
              'border-red-700':
                registerForm.get('email')?.invalid && registerForm.get('email')?.touched,
            }"
            formControlName="email"
            type="email"
            id="email"
            placeholder=" "
            class="peer block w-full px-2.5 pb-2.5 pt-4 text-sm text-white bg-transparent rounded-lg border border-[#727477] appearance-none focus:outline-none focus:ring-0 focus:border-[#F62E8E]"
          />
          <label
            for="email"
            class="absolute text-sm text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-[#2D2F31] px-2 peer-focus:text-[#F62E8E] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-2"
          >
            Email
          </label>
        </div>
        <!-- alert -->
        @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
          <div
            class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
            role="alert"
          >
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
                @if (registerForm.get('email')?.hasError('required')) {
                  <li>Email is required.</li>
                } @else if (registerForm.get('email')?.hasError('email')) {
                  <li>Please enter a valid email address.</li>
                }
              </ul>
            </div>
          </div>
        }

        <!------------------ Gender --------------->
        <div class="relative">
          <select
            [class]="{
              'border-green-700': registerForm.get('gender')?.valid,
              'border-red-700':
                registerForm.get('gender')?.invalid && registerForm.get('gender')?.touched,
            }"
            formControlName="gender"
            class="w-full px-3 py-3 rounded-lg bg-[#181A1C] text-gray-300 border border-[#727477] focus:outline-none focus:border-[#F62E8E]"
          >
            <option selected disabled hidden value="">Select gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <!-- alert -->
        @if (registerForm.get('gender')?.invalid && registerForm.get('gender')?.touched) {
          <div
            class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
            role="alert"
          >
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
                @if (registerForm.get('gender')?.hasError('required')) {
                  <li>gender is required.</li>
                }
              </ul>
            </div>
          </div>
        }

        <!------------------ Date --------------->
        <div class="relative">
          <input
            [class]="{
              'border-green-700': registerForm.get('dateOfBirth')?.valid,
              'border-red-700':
                registerForm.get('dateOfBirth')?.invalid &&
                registerForm.get('dateOfBirth')?.touched,
            }"
            type="date"
            formControlName="dateOfBirth"
            class="w-full px-3 py-3 rounded-lg bg-[#181A1C] text-gray-300 border border-[#727477] focus:outline-none focus:border-[#F62E8E]"
          />
        </div>
        <!-- alert -->
        @if (registerForm.get('dateOfBirth')?.invalid && registerForm.get('dateOfBirth')?.touched) {
          <div
            class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
            role="alert"
          >
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
                @if (registerForm.get('dateOfBirth')?.hasError('required')) {
                  <li>Date Of Birth is required.</li>
                }
              </ul>
            </div>
          </div>
        }

        <!-------------------- Password---------------- -->
        <div class="relative">
          <input
            [class]="{
              'border-green-700': registerForm.get('password')?.valid,
              'border-red-700':
                registerForm.get('password')?.invalid && registerForm.get('password')?.touched,
            }"
            #pass
            formControlName="password"
            type="password"
            id="password"
            placeholder=" "
            class="peer block w-full px-2.5 pb-2.5 pt-4 text-sm text-white bg-transparent rounded-lg border border-[#727477] appearance-none focus:outline-none focus:ring-0 focus:border-[#F62E8E]"
          />
          <label
            for="password"
            class="absolute text-sm text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-[#2D2F31] px-2 peer-focus:text-[#F62E8E] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-2"
          >
            Password
          </label>
        <span
    (click)="showPassword(pass)"
    class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-gray-400 hover:text-white"
  >
    <i [class]="pass.type === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
  </span>
</div>
        <!-- alert -->
        @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
          <div
            class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
            role="alert"
          >
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
                @if (registerForm.get('password')?.hasError('required')) {
                  <li>Please confirm your password.</li>
                } @else if (registerForm.get('password')?.hasError('pattern')) {
                  <li>Passwords do not match.</li>
                }
              </ul>
            </div>
          </div>
        }

        <!------------------- Confirm Password --------------->
        <div class="relative">
          <input
            [class]="{
              'border-green-700': registerForm.get('rePassword')?.valid,
              'border-red-700':
                registerForm.get('rePassword')?.invalid && registerForm.get('rePassword')?.touched,
            }"
            formControlName="rePassword"
            type="password"
            id="confirmPassword"
            placeholder=" "
            class="peer block w-full px-2.5 pb-2.5 pt-4 text-sm text-white bg-transparent rounded-lg border border-[#727477] appearance-none focus:outline-none focus:ring-0 focus:border-[#F62E8E]"
          />
          <label
            for="confirmPassword"
            class="absolute text-sm text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-[#2D2F31] px-2 peer-focus:text-[#F62E8E] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-2"
          >
            Confirm password
          </label>
        </div>
        <!-- alert -->
        @if (registerForm.get('rePassword')?.invalid && registerForm.get('rePassword')?.touched) {
          <div
            class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
            role="alert"
          >
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
                @if (registerForm.get('rePassword')?.hasError('required')) {
                  <li>Please confirm your password.</li>
                } @else if (registerForm.get('rePassword')?.hasError('mismatch')) {
                  <li>Passwords do not match.</li>
                }
              </ul>
            </div>
          </div>
        }

        <button
          type="submit"
          class="w-full py-3 rounded-lg font-semibold text-white bg-gradient-to-r from-[#F62E8E] to-[#AC1AF0] hover:scale-[1.02] transition"
        >
          Create New Account
          @if (loading) {
            <i class="fas fa-spinner fa-spin"></i>
          }
        </button>
        <p class="text-center text-red-800 p-2">{{ msgError }}</p>
      </form>
    </div>
  </div>
</div>
