<div [routerLink]="['/profile',user._id]"
  class="p-3 border cursor-pointer border-[#323436] rounded-2xl bg-[#202225] hover:border-[#444] transition-colors"
>
  <div class="flex items-start gap-3">

    <img
      [src]="user.photo"
      [alt]="user.name"
      class="w-11 h-11 rounded-full object-cover shrink-0 border border-[#323436]"
    />

    <div class="flex-1 min-w-0 flex flex-col gap-2">

      <div class="flex items-center justify-between gap-2 mt-0.5">

        <div class="flex truncate flex-col">

          <span class="text-[14px] font-bold text-white truncate leading-tight">
            {{user.name}}
          </span>

          <span class="text-[13px] text-gray-400 truncate leading-tight mt-0.5">
            {{user.username? `@${user.username}`:''}}
          </span>

        </div>

        @if (!friend) {

          <button
            (click)="followUnfollowUserItem(user._id);$event.stopPropagation()"
            class="shrink-0 flex cursor-pointer items-center gap-1.5 px-3.5 py-1.5 bg-[#181A1C] text-[#F62E8E] hover:bg-[#2D2F31] text-[13px] font-semibold rounded-xl transition-colors"
          >

            @if (followLoading) {

              <i class="fa-solid fa-user"></i>
              updating...

            } @else {

              @if (isFollowing) {

                <i class="fa-solid fa-user-check text-[11px]"></i>
                Following

              } @else {

                <i class="fa-solid fa-user-plus text-[11px]"></i>
                Follow

              }

            }

          </button>

        }

      </div>

      @if (!friend) {

        <div class="flex items-center gap-2">

          <span
            class="text-[11px] font-semibold text-gray-400 bg-[#181A1C] px-2 py-1 rounded-lg"
          >
            {{user.followersCount}} followers
          </span>

          @if ('mutualFollowersCount' in user && user.mutualFollowersCount) {

            <span
              class="text-[11px] font-semibold text-[#F62E8E] bg-[#181A1C] px-2 py-1 rounded-lg"
            >
              {{user.mutualFollowersCount}} mutual
            </span>

          }

        </div>

      }

    </div>

  </div>
</div>