<div class="h-screen flex items-center justify-center bg-[#18191A] text-white px-4">
  
  <div class="text-center max-w-md">

    <!-- ICON -->
    <div class="text-5xl text-gray-500 mb-4">
      <i class="fa-solid fa-circle-exclamation"></i>
    </div>

    <!-- TITLE -->
    <h2 class="text-2xl font-semibold mb-2">
      Page not found
    </h2>

    <!-- DESCRIPTION -->
    <p class="text-gray-400 text-sm mb-6">
      The link you followed may be broken, or the page may have been removed.
    </p>

    <!-- BUTTONS -->
    <div class="flex justify-center gap-3">

     <a
  routerLink="/feed"
  class="bg-[#F62E8E] hover:bg-[#e0267e] transition px-5 py-2 rounded-md text-sm font-medium"
>
  Go to Feed
</a>

<a
  routerLink="/profile"
  class="bg-[#3A3B3C] hover:bg-[#4E4F50] transition px-5 py-2 rounded-full text-sm"
>
  Go to Profile
</a>

    </div>

  </div>

</div>