<div class="bg-[#202225] rounded-2xl p-4 animate-pulse space-y-4">

  <!-- user -->
  <div class="flex items-center gap-3">
    <div class="w-12 h-12 bg-gray-700 rounded-full"></div>

    <div class="space-y-2">
      <div class="w-32 h-3 bg-gray-700 rounded"></div>
      <div class="w-20 h-2 bg-gray-800 rounded"></div>
    </div>
  </div>

  <!-- text -->
  <div class="space-y-2">
    <div class="w-full h-3 bg-gray-700 rounded"></div>
    <div class="w-5/6 h-3 bg-gray-700 rounded"></div>
    <div class="w-4/6 h-3 bg-gray-700 rounded"></div>
  </div>

  <!-- image -->
  <div class="w-full h-60 bg-gray-800 rounded-xl"></div>

  <!-- actions -->
  <div class="flex justify-between mt-3">
    <div class="w-20 h-3 bg-gray-700 rounded"></div>
    <div class="w-20 h-3 bg-gray-700 rounded"></div>
  </div>

</div>