<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  class="max-w-md mx-auto bg-[#202225] p-5 rounded-2xl border border-[#323436] flex flex-col gap-4"
>
  <h2 class="text-white text-lg font-semibold">Change Password</h2>

  <!-- OLD -->
 <div class="relative">
  <input
    #oldPass
    type="password"
    placeholder="Old Password"
    formControlName="oldPassword"
    class="w-full bg-[#181A1C] border border-[#323436] rounded-lg px-3 py-2 text-white pr-10"
  />

  <span
    (click)="showPassword(oldPass)"
    class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-gray-400 hover:text-white"
  >
    <i
      [class]="oldPass.type === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"
    ></i>
  </span>
</div>

  <!-- NEW -->
  <div class="relative">
  <input
    #pass
    type="password"
    placeholder="New Password"
    formControlName="newPassword"
    class="w-full bg-[#181A1C] border border-[#323436] rounded-lg px-3 py-2 text-white pr-10"
  />

  <span
    (click)="showPassword(pass)"
    class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-gray-400 hover:text-white"
  >
    <i [class]="pass.type === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
  </span>
</div>

  <!-- CONFIRM -->
  <input
    type="password"
    placeholder="Confirm Password"
    formControlName="confirmPassword"
    class="bg-[#181A1C] border border-[#323436] rounded-lg px-3 py-2 text-white"
  />

  <!-- ERROR -->
  <p *ngIf="errorMsg" class="text-red-500 text-sm">
    {{ errorMsg }}
  </p>

  <!-- SUCCESS -->
  <p *ngIf="successMsg" class="text-green-500 text-sm">
    {{ successMsg }}
  </p>

  <!-- BTN -->
  <button
    type="submit"
    [disabled]="isLoading"
    class="bg-[#F62E8E] hover:bg-pink-600 transition text-white rounded-lg py-2"
  >
    {{ isLoading ? 'Loading...' : 'Update Password' }}
  </button>
</form>