<article
  (click)="markNotificationAsReadItem(notification._id)"
  class="group cursor-pointer relative flex gap-3 rounded-xl border p-3 transition sm:rounded-2xl sm:p-4 border-[#323436] bg-[#202225]"
  [class]="notification.isRead
    ? 'border-[#323436] bg-[#202225] hover:bg-[#2D2F31]'
    : 'border-[#F62E8E]/40 bg-[#202225]'"
>

  <!-- avatar -->
  <div class="relative shrink-0">

    <button type="button" class="block cursor-pointer">

      <img
        class="h-11 w-11 rounded-full object-cover border border-[#323436] group-hover:scale-105 transition"
        src="https://pub-3cba56bacf9f4965bbb0989e07dada12.r2.dev/linkedPosts/default-profile.png"
      />

    </button>

    <!-- icon -->
    <span
      class="absolute -bottom-1 -right-1 inline-flex h-5 w-5 items-center justify-center rounded-full bg-[#181A1C] ring-2 ring-[#202225]"
    >

      @if (notification.type==='follow_user') {
        <i class="fa-solid fa-user-check fa-xs text-[#AC1AF0]"></i>
      }

      @if (notification.type==='comment_post') {
        <i class="fa-regular fa-comment-dots fa-xs text-[#F62E8E]"></i>
      }

      @if (notification.type==='like_post') {
        <i class="fa-solid fa-thumbs-up fa-xs text-[#F62E8E]"></i>
      }

      @if (notification.type==='share_post') {
        <i class="fa-solid fa-retweet fa-xs text-[#AC1AF0]"></i>
      }

    </span>

  </div>


  <!-- content -->
  <div class="min-w-0 flex-1">

    <div class="flex flex-wrap items-start justify-between gap-1.5 sm:gap-2">

      <p class="text-sm leading-6 text-gray-200">

        <button
          (click)="$event.stopPropagation()"
          [routerLink]="['/profile',notification.actor._id]"
          class="font-extrabold cursor-pointer hover:text-[#F62E8E] hover:underline me-1 transition"
        >
          {{notification.actor.name}}
        </button>

        @if (notification.type==='follow_user') {followed you}
        @if (notification.type==='comment_post') {commented on your post}
        @if (notification.type==='like_post') {liked your post}
        @if (notification.type==='share_post') {shared your post}

      </p>


      <!-- unread dot -->
      <div class="flex items-center gap-1.5 sm:gap-2">

        @if (!notification.isRead) {
          <span class="w-2.5 h-2.5 rounded-full bg-[#F62E8E] animate-pulse"></span>
        }

      </div>

    </div>


    <p class="mt-0.5 text-sm text-gray-400 line-clamp-1">
      {{notification.entity.body}}
    </p>

  </div>

</article>